html
{
  height:100%;
}
body
{
  height: 100%;
  width:100%;
}
.body
{
 margin:auto;
  height:90%;
  width: 30%;
  
}
.form                                                             
{
    background-color:rgb(228, 226, 226);
    padding:0.5rem;
    box-shadow:0.5px 0.5px 3px 5px rgb(0, 0, 14);

}
.btn
{
  
  border-spacing: auto;
  position: relative; 
  color:  rgb(12, 11, 11);
  padding: 10px;
  font-size: 25px;
 height: 70px;
 width: 70px;
 border:1px solid rgba(0, 0, 0, 0.15);
 
 


border-radius: 50%;

margin: 100px,100px;
margin-top: 2%;
margin-bottom: 2%;
margin-left: 2%;
margin-right: 2%;
float:none;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, inset 0 40px 30px -10px rgba(161, 168, 216, 0.17),inset 0 -10px 20px 5px rgba(127, 114, 151, 0.15),inset 0 0 0px 0.5px rgba(14, 196, 11, 0.12);


 }
/* .btn
{
  display:flex;
  
  margin: auto;
  padding: 15px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: rgb(12, 11, 11);
  box-shadow: inset 0 -0.6em 1em 0.35em rgba(0,0,0,0.17),inset 0 -0.6em 2em 0.35em rgba(255,255,255,0.15),inset 0 -0.6em 1em 0.35em rgba(255,255,255,0.12);
  text-align: center;
  
  
 } */
 .btn:active{
  box-shadow: inset 0 0 5em 5em rgba(0, 0, 0, 0.15),inset 0 0 0em 5em rgba(10, 0, 0, 0.12);
 }

tr ,table
{
  width: 100%;
}
 .inp
 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: width 2s,height 2s,background-color 2s,rotate 2s;
  
 }
 .inp:hover{
  transition: absolute;
 }
 .inp,.inp2

 {
  
   height: 80px;
   width: 100%;
    border: none;
   margin-bottom: auto;
   border-spacing: auto;
   margin-left: auto;
   margin-right: auto;
   font-size: 48px;
   box-shadow: 5px 5px 5px  black;
   
 }
 .inp2
 {
  height: 50px;
  width: 100%;
  font-size: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
 }
form
{
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  
  
}
input
{
    float: center; 
    font-size: 40px;
    background-color: rgb(52, 47, 47);
    color: white;
    box-sizing: border-box; 
    text-align: right;  
}

@media only screen and ( max-width: 700px) and (min-width:450px) {
  html
{
  height:100%;
}
  body 
  {
    height: 100%;
    width: 100%;
    
  }
  .body
  {
   height: calc(96%);
   width: 95%;
    
  }
  .btn
  {
   margin: 5% 0%;
  }
  .inp,.inp2

 {
  
   height: 120px;
   width: 100%;
   font-size: 66px;
 }
 .inp2
 {
  height: 80px;
  
  width: 100%;
  font-size: 50px;
 }




}
@media only screen and ( max-width: 450px) and (min-width:320px) {
  .body
  {
   height: calc(96%);
   width: 95%;
    
  }
  .btn
  {
   margin: 5% 0%;
   height: 60px;
   width: 60px;
  }
  .inp,.inp2

 {
  
   height: 120px;
   width: 100%;
   font-size: 66px;
 }
 .inp2
 {
  height: 80px;
  margin-top:5% ;
  width: 100%;
  font-size: 50px;
 }
}
